@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {
  --Moderate-blue: hsl(238, 40%, 52%);
  --Soft-Red: hsl(358, 79%, 66%);
  --Light-grayish-blue: hsl(239, 57%, 85%);
  --Pale-red: hsl(357, 100%, 86%);
  --Dark-blue: hsl(212, 24%, 26%);
  --Grayish-Blue: hsl(211, 10%, 45%);
  --Light-gray: hsl(223, 19%, 93%);
  --Very-light-gray: hsl(228, 33%, 97%);
  --White: hsl(0, 0%, 100%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  font-size: 1rem; 
}

img{
  max-width: 100%;
}

span{
color: var(--Moderate-blue);
font-weight: 700;
cursor: pointer;
}

main{
  min-height: 100vh;
  min-width: 100vw; 
  background-color: var(--Very-light-gray);  
  padding: 3rem;
}

.overall-wrapper{
  position: relative;
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  
}

#create-review{
  min-width: 100%; 
  justify-self: center;
  background-color: var(--White);
  border-radius: 10px;
  align-self: end;
  margin: auto;
}

#create-review #review-form{
display: grid;
grid-template-columns: auto 1fr auto;
gap: 10px;
align-items: center;
padding: 15px;
grid-template-rows: auto;
min-width: 100%;
}

#create-review #review-form .text-content{
  min-width: 100%;
  height: 100%;
}

  textarea{
  width: 100%;
  resize: none;
  border-radius: 10px;
  padding: 15px;
  overflow: hidden;
  height: 100%;
}

textarea:focus{
  outline: none;
}

 .review-submit{
  display: flex;
  align-self: start;
}

 .submit-btn{
  background-color: var(--Moderate-blue);
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  color: var(--White);
  cursor: pointer;
  font-weight: 500;
  align-self: start;
}

#create-review #review-form .review-submit button:hover{
  opacity: 0.5;
}

.overall-container{
  display: grid;
  gap: 15px;  
  min-width: 100%;
}

.single-review{
  background-color: var(--White);
  position: relative;
  border-radius: 10px;
  padding: 15px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin: auto;
}
.update-review{
  background-color: var(--White);
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 15px;
  gap: 1rem;
}

.update-review .rating-container{
  max-height: 55%;
}

.update-review .content-container{
  gap: 0.5rem;
  display: grid;
  grid-template-rows: auto 1fr auto;
  
}
.update-review .content-container .author-container{
  position: relative;
  top: 0; 
}
.update-review .content-container .review-submit{
  justify-content: end;
}
.update-review .action-links{
  display: flex;
  gap: 0.3rem;
  position: absolute;
  right: 2%;
}

.update-reply{
  background-color: var(--White);
  padding: 15px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 1rem;
  position: relative;
  border-radius: 10px;
  }

.update-reply .rating-container{
  max-height: 55%;
  }
.update-reply .content-container{
gap: 0.5rem;
display: grid;
grid-template-columns: auto;
grid-template-rows: auto 1fr auto;
  }

.update-reply .content-container .author-container{
  display: flex;
  flex-direction: row;
  position: relative;
  top: 0;
  }
.update-reply .content-container .review-submit{
  justify-content: end;
  }
.update-reply .action-links{
  display: flex;
  gap: 0.5rem;
  position: absolute;
  right: 2%;
  top: 7%;
  }

.rating-container{
  background-color: var(--Very-light-gray);
  display: grid;
  justify-content: center;
  gap: 10px;
  min-width: 38px;
  border-radius: 10px;
  padding: 10px;
  }

.rating-container .create-rating{
  font-weight: 700;
  color: var(--Moderate-blue);
  justify-self: center;
  }

.rating-container img{
  cursor: pointer;
  width: 12px;
  justify-self: center;
  }

.content-container{
  display: grid;
  gap: 5px;
  }

.content-container .author-container{
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  top: -15px;
  text-align: end;
}

.content-container .author-container .author-name{
font-weight: 700;
align-self: end;
height: 100%;
font-size: 1.12rem;
}

.content-container .author-container .author-status{
  color: var(--White);
  font-weight: 500;
  background-color: var(--Moderate-blue);
  border-radius: 5px;
  padding: 2px 7px;
  display: flex;
  align-content: start;
  text-align: start;
}

.content-container .author-container .review-time{
  display: flex;
  color: var(--Grayish-Blue);
  font-size: 0.8rem;
  
}

.content-container .text-container{
  height: 100%;
  line-height: 1.5;
  display: flex;
  word-break: break-all;
  gap: 5px;
}

.single-review .action-links{
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  text-align: center;
  align-items: center;  
}

.action-links .delete-btn{
  border: none;
  cursor: pointer;
  background-color: var(--White);
  color: var(--Soft-Red);
  display: flex;
  gap: 3px;
  justify-content: center;
  align-items: center;
  font-weight: 500;  
}

 .action-links button:hover{
  opacity: 0.5;
}

 .action-links a{
  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  gap: 3px;
  color: var(--Moderate-blue);
  font-weight: 500;
  cursor: pointer;
}

 .action-links a:hover{
  opacity: 0.5;
  
}

 .action-links .reply-container .reply-btn{
  border: none;
  cursor: pointer;
  background-color: var(--White);
  color: var(--Moderate-blue);
  display: flex;
  gap: 3px;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.single-review .action-links .reply-container .reply-btn:hover{
  opacity: 0.5;
}

.delete-alert-container{
  background-color: var(--White);
  padding: 20px;
  max-width: 320px;
  border-radius: 10px;
  display: grid;
  gap: 15px;
  position: absolute;
  justify-self: center;
  align-self: center;
  filter: none;
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
}

.delete-alert-container .header h1{
  font-weight: 700;
  font-size: larger ;
}

.delete-alert-container .content p{
  color: var(--Grayish-Blue);
  font-size: 14px;
  line-height: 1.5;
}

.delete-alert-container .footer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.delete-alert-container .footer button{  
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: var(--White);
  cursor: pointer;
}

.delete-alert-container .footer button:hover{
  opacity: 0.5;
}

.delete-alert-container .footer button:first-child{
  background-color: var(--Grayish-Blue);
}

.delete-alert-container .footer button:last-child{
  background-color: var(--Soft-Red);
}

.create-reply{
display: grid;
grid-template-columns: auto 1fr auto;
gap: 10px;
align-items: center;
padding: 15px;
grid-template-rows: auto;
min-width: 100%;
background-color: var(--White);
margin: 15px auto;
border-radius: 10px;
}
.reply-wrapper{
  margin-top: 10px;
  position: relative;
}

.single-reply{
  position: relative;
  right: -5.1%;
  max-width: 90%;
}
.single-reply::before{
content: '';
position: absolute;
top: 0;
left: -20px;
width:3px;
height: 109%;
background-color: var(--Light-gray)
}
.hidden{
  display: none;
}


@media only screen and (max-width:520px){
  main{ 
    overflow: hidden;
  }
  .overall-wrapper{
    max-width: 500px;
  }
  #create-review #review-form{
    display: grid;
    grid-template-areas:
    "a a a" 
    "a a a" 
    "b 0 c" ;
    
  }
  
  #create-review #review-form .text-content{
    grid-area: a;
  }
  #create-review #review-form .review-submit{
    grid-area: c;
    display: flex;
    flex-direction: row;
  }
  #create-review #review-form .rating{
    grid-area: b;
  }
  .rating-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 5px;
  }

.rating-container img{
  align-self: center;
}

.single-review{
  display: grid;
  grid-template-areas: "a a a"
  "a a a"
  "a a a"
  "b 0 c";
  gap: 0.3rem;
  width: 100%;
}
.update-review{
  display: grid;
  grid-template-areas: "a a a"
  "a a a"
  "b 0 c";
 
}
.update-review .content-container{
  grid-area: a;
}
.update-review .content-container .review-submit{
  justify-content: center;
}
.update-review .rating-container{
  grid-area: b;
  min-height: 40px;
}
.update-review .action-links{
  grid-area: c;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  position: relative;
  bottom: 0;
}
.update-reply{
  display: grid;
  grid-template-areas: "a a a"
  "a a a"
  "a a a"
  "b 0 c";
}
.update-reply .rating-container{
  grid-area: b;
  min-height: 40px;
  min-width: 90px;
  position: absolute;
  top: -3rem;
  left: 0.4rem;
}
.update-reply .content-container{
  grid-area: a;
}
.update-reply .action-links{
  grid-area: c;
  position: absolute;
  top:-0.7rem
}

.single-review .rating-container{
  grid-area: b;
  max-width: 80px;
}
.single-review .content-container{
  grid-area: a;
}

.single-review .action-links{ 
  grid-area: c;
  position:relative;
  top: 0;
  right: 0; 
}
.single-review .content-container{
  display: grid;
  grid-template-areas: 
  "a a a"
  "b b b"
  "b b b"
  ;
}


.single-review .content-container .author-container{
  display: flex;
  justify-content: space-between;
  top: 0;
  grid-area: a;
  }
  .single-review .content-container .text-container{
    grid-area: b;
  }

.create-reply{
    display: grid;
    grid-template-areas:
    "a a a" 
    "a a a" 
    "b 0 c" ;
  }

  .create-reply .text-content{
    grid-area: a;
  }
  .create-reply .rating-container{
    grid-area: b;
  }
  .create-reply .reply-submit-container{
    grid-area: c;
  }

}

@media only screen and (max-width:330px) {

  .overall-wrapper{
    max-width: 315px;
  }

  .single-review{
    max-width: 100%;
  }
  .single-review .content-container{
    max-width: 315px;
  }

  .delete-container button, .edit-container a{
    background: transparent;
    border: none;
    padding: 0;
    text-indent: -9999px;
  }

  .delete-container button img, .edit-container a img{
    display: inline-block;
  }
  
  .delete-container button span, .edit-container a span {
  display: none;
}

.update-reply .action-links{
  
  display: none;
}

}

@media only screen and (max-width:305px) {
  .overall-wrapper{
    max-width: 275px;
  }
  .content-container{
    max-width: 100%;
  }

.update-reply .rating-container{
display: none;
}

.update-reply .action-links{
display: none;
}
}

