@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {
  --Moderate-blue: hsl(238, 40%, 52%);
  --Soft-Red: hsl(358, 79%, 66%);
  --Light-grayish-blue: hsl(239, 57%, 85%);
  --Pale-red: hsl(357, 100%, 86%);
  --Dark-blue: hsl(212, 24%, 26%);
  --Grayish-Blue: hsl(211, 10%, 45%);
  --Light-gray: hsl(223, 19%, 93%);
  --Very-light-gray: hsl(228, 33%, 97%);
  --White: hsl(0, 0%, 100%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  font-size: 1rem; 
}
body{
height: 100vh;
width:100vw;  
color:#000;
display: flex;
justify-content: center;
background-color: var(--Very-light-gray)
}

main{
  width:60%;
  margin: 3rem auto; 
  border-radius: 10px;
  padding: 15px;
}

#create-review{  
border-radius: 10px;
background-color: var(--White);
height:120px;
padding: 15px;
}

#review-form{
  display: grid;
  grid-template-columns: 10% 78% 12%;
  grid-template-rows: 1fr;  
}

#review-form button{
  background-color: var(--Moderate-blue);
  border-radius: 10px;
  border: none;
  color:var(--White);
  text-align: center;
  width: 100%;
  height: 2.3rem;
}

#review-form button:hover{
  background-color: var(--Light-grayish-blue);
  cursor: pointer;
}
.review-form-submit{
  position: relative;
  height: 100%;
}

#create-review textarea{
  height:90px;
  width: 95%;
  resize: none;
  border-radius: 10px;
  padding: 15px; 
  border: 1px solid var(--Light-gray);
  overflow: hidden;
  outline: none;
}

#create-review textarea:focus{
  border: 1px solid var(--Grayish-Blue);
  outline: none;
}

.rating{
  width:50%;
}
.rating-container{
  display: flex;
  flex-direction: column-reverse;
  
}

.rating-container input{
  width: 100%;
  text-align: center;
  background-color: var(--Very-light-gray);
  border: none;
  color:var(--Moderate-blue);
  font-weight: 700;
}

.rating-container i{
  text-align: center;
  background-color: var(--Very-light-gray);
  color: var(--Light-grayish-blue);
  padding: 5px;
  cursor: pointer;
}

.rating-container i:hover{
  color: var(--Moderate-blue);
}

#decrement{
   border-radius: 0 0 10px 10px;
}

#increment{
  border-radius: 10px 10px 0 0;
}

.reviews-container{
  width: 100%;
  background-color: var(--Very-light-gray);
  margin: 10px auto; 
}

.allReviews{
  width: 100%;
  background-color: var(--Very-light-gray);
}

.single-review{
  background-color: var(--White);
  border-radius: 10px;
  width:100%;
  height:150px;
  padding: 15px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40% 60%;
}

.top-side{
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.top-side .rating-container{
  position: relative;
  top: 45%;
}

.rating-container{
  width:30px;
  float: left;
  position: relative;
  top: 0px;
}
.author-info{
  position: relative;
  left: 2%;
}
.author-info p{
  margin: 0 10px;
  display: inline-block;
}
.author-info p:first-child{
  margin-left: 30px;
  font-weight: 700;
}
.author-info p:nth-child(2){
  background-color: var(--Moderate-blue);
  color: var(--White);
  padding: 4px 5px;
  font-weight: 700;
  border-radius: 5px;
}
.author-info p:nth-child(3){
  color: var(--Grayish-Blue);
}
.review-links{
position: relative;
margin-left: 45%;
display: grid;
grid-template-columns: 1fr 1fr;

}
.author-status .disabled{
  display: hidden;
}







