@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {
  --Moderate-blue: hsl(238, 40%, 52%);
  --Soft-Red: hsl(358, 79%, 66%);
  --Light-grayish-blue: hsl(239, 57%, 85%);
  --Pale-red: hsl(357, 100%, 86%);
  --Dark-blue: hsl(212, 24%, 26%);
  --Grayish-Blue: hsl(211, 10%, 45%);
  --Light-gray: hsl(223, 19%, 93%);
  --Very-light-gray: hsl(228, 33%, 97%);
  --White: hsl(0, 0%, 100%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  font-size: 1rem; 
}
body{

height: 100vh;
width:100vw;  
color:#000;
display: flex;
justify-content: center;
background-color: var(--Very-light-gray)
}
main{
  width:60%;
  margin: 3rem auto; 
  border-radius: 10px;
  padding: 15px;
}
#create-review{  
border-radius: 10px;
background-color: var(--White);
height:120px;
padding: 15px;
}

#review-form{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  
}
#review-form button{
  background-color: var(--Moderate-blue);
  border-radius: 10px;
  border: none;
  color:var(--White);
  text-align: center;
  width: 5.2rem;
  height: 2.3rem;
}
#review-form button:hover{
  background-color: var(--Light-grayish-blue);
  cursor: pointer;
}
#create-review textarea{
  height:90px;
  resize: none;
  border-radius: 10px;
  padding: 15px; 
}
#create-review textarea:focus{
  
}

.rating-container{
  display: flex;
  flex-direction: column-reverse;
}
.rating-container input{
  width: 30px;
  text-align: center;
  background-color: var(--Very-light-gray);
  border: none;
  color:var(--Moderate-blue);
  font-weight: 700;
}
.rating-container i{
  text-align: center;
  background-color: var(--Very-light-gray);
  color: var(--Light-grayish-blue);
  padding: 5px;
  cursor: pointer;
}
.rating-container i:hover{
  color: var(--Moderate-blue);
}
#decrement{
   border-radius: 0 0 10px 10px;
}
#increment{
  border-radius: 10px 10px 0 0 ;
}
.reviews{
  background-color: green;
}
.single-review{
  background-color: red;
  margin: 1rem auto;
}
